/*Base - Base styles, variables, mixins, etc*/
/*$fa-width:70px;
$fa-height:70px;
$fa-padding:18px;
$fa-border:1px solid $primary-color;
$fa-circle:50px;*/
/*.skill .fa{
    width: $fa-width;
    height: $fa-height;
    padding: $fa-padding;
    border: $fa-border;
    border-radius: $fa-circle;
    @include add-background($white)
}*/
html, body {
  height: 100%; }

/*#header{
	background-color: #ff9000;
	}
	
	#about{
	background-color: aliceblue;
	}
	
	#services{
	background-color: antiquewhite;
	}
	
	#third{
	background-color: aqua;
	}
	
	#forth{
	background-color: aquamarine;
	}*/
.container-fluid {
  background: #3a52b7;
  color: #fff; }

/*Layout - Layout styles*/
#header {
  background: url(../imgs/startup.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  color: #3a52b7; }
  #header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(top left, #fff, #fff);
    background-image: -o-linear-gradient(top left, #fff, #fff);
    background-image: linear-gradient(to bottom right, #fff, #fff);
    opacity: .5; }

#services {
  height: 100%;
  background-color: aquamarine;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media only screen and (max-width: 480px) {
  #header h1 {
    line-height: 30%; } }

.navbar {
  background-color: #fff; }

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: none;
  border-radius: 0px; }

.nav-item a {
  overflow: hidden;
  display: block;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #fff), color-stop(50%, #3a52b7));
  background-image: -webkit-linear-gradient(right, #fff 50%, #3a52b7 50%);
  background-image: -o-linear-gradient(right, #fff 50%, #3a52b7 50%);
  background-image: linear-gradient(to left, #fff 50%, #3a52b7 50%);
  background-size: 200% 5%;
  background-repeat: no-repeat;
  background-position: bottom right;
  color: #3a52b7;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in; }

.nav-item a:hover {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  background-position: bottom left;
  color: rgba(0, 0, 255, 0.2); }

.navbar-toggler {
  border: 1px solid #3a52b7; }

.navbar-toggler:hover {
  background-color: rgba(0, 0, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58, 82, 183, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

/*footer{
    background-color:rgba(0, 0, 255, .2);
}*/
/*Modules - Module styles, buttons, sections, typography, etc*/
#backtotop {
  position: fixed;
  display: none;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  border: 1px solid #3a52b7;
  z-index: 9999;
  background: #fff;
  color: #3a52b7; }

#backtotop:hover {
  background: #3a52b7;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer; }

/*
.social-media{
	display: flex;

}

.social-media li{
	list-style: none;
}

.social-media li a{
	width: 60px;
	height: 60px;
	margin: 0 3px;
	display: block;
	text-align: center;
	padding: 6px;
	text-decoration: none;
	
}

.social-media a{
	display: block;
	color:$white;
	font-size: 2rem;
	transition: 0.5s; 
}

.social-media a :hover{
	color:$primary-color;
	transition: 0.5s;
}*/
.row {
  padding: 2.5rem 0; }

#header h1 {
  line-height: 350%; }
