html, body{
	height:100%;
	}

/*#header{
	background-color: #ff9000;
	}
	
	#about{
	background-color: aliceblue;
	}
	
	#services{
	background-color: antiquewhite;
	}
	
	#third{
	background-color: aqua;
	}
	
	#forth{
	background-color: aquamarine;
	}*/