//color used in logo
$primary-color:#3a52b7;

$white:#fff;

//row padding
$gap: 2.5rem 0;

//Styling the FA icons
/*$fa-width:70px;
$fa-height:70px;
$fa-padding:18px;
$fa-border:1px solid $primary-color;
$fa-circle:50px;*/

//box shadow effect
$shadow: rgba(0, 0, 255, .2);