#backtotop{
	position:fixed;
	display: none;
    right:20px;
    bottom:20px;
	padding: 20px;
    border: 1px solid $primary-color;
    z-index: 9999;
	@include add-background($white);
}

#backtotop:hover{
	@include add-background($primary-color);
	transition: 0.5s;
	cursor: pointer;
}

.social-media{
	display: flex;

}

.social-media li{
	list-style: none;
}

.social-media li a{
	width: 60px;
	height: 60px;
	margin: 0 3px;
	display: block;
	text-align: center;
	padding: 6px;
	text-decoration: none;
	
}

.social-media a{
	display: block;
	color:$white;
	font-size: 2rem;
	transition: 0.5s; 
}

.social-media a :hover{
	color:$primary-color;
	transition: 0.5s;
}